body, h1, ul, li {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-image: url("/images/Jared.gif");
    background-size: cover;
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-size: 50px;
    border-bottom: 5px red dashed;
}

input {
    font-size: 24px;
}

input[type="text"] {
    border-color: black;
}

img {
    display: block;
    margin: 0 auto;
}

.add {
    margin: 10px 48px 0px 48px;
    text-align: center;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
}

.listing {
    margin-top: 5px 48px 0px 48px;
}

#tasks {
    background-color: red;
    margin:0 48px;
    list-style: none;
}

#tasks li {
    border: 1px dashed;
    font-size: 24px;
    text-align: center;
}

.options {
    text-align: center;
    background-color: white;
    margin: 0px 48px;
    padding: 4px 0px;
    border-radius: 0px 0px 12px 12px;
}

.options input {
    display: inline;
    font-size: 20px;
    padding: 0px 12px;
    margin: 0 20px;
}